<div class="page-header">
  <h1 class="page-title">Modifier <%= @tray_size.name %></h1>
  <%= link_to tray_sizes_path, class: "btn-outline-slate" do %>
    <i class="bi bi-arrow-left"></i> Barquettes
  <% end %>
</div>

<div style="padding: 24px; max-width: 480px;">
  <%= render 'form', tray_size: @tray_size %>
</div>
